<style>
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  background: #001;
  float: left;
  margin-left: 2px;
  cursor: pointer;
}
.circle1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  background: green;
  float: left;
  margin-left: 2px;
  cursor: pointer;
}
#sel2{
  margin-top:20px;
  margin-left:20px;
  float:top;
}
#sel3{
  margin-left:20px;
  float:top;
  height:90px;
  width:1000px;
}
#check{
  margin-left:2px;
  margin-top:1px;
  width:1600px;
  height:30px;
}
#check2{
  margin-left:2px;
  margin-top:1px;
  width:1600px;
  height:30px;
}
#pid{
  margin-top:3px;
  margin-left:4px;
  float:left;
}
#cid{
  margin-top:3px;
  margin-left:30px;
  font-size: 20px;
}
#pid2{
  margin-top:3px;
  margin-left:4px;
  float:left;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/JavaScript">
//$( document ).ready(function() {
  //  alert( "ready!" );
//});
$( document ).ready(function() {
  $( ".circle" ).click(function() {
      var color=$(this).css("background");
      var val=$.trim($(this).text());
      var str=13
      var vcolor2=$( '#v'+val ).css("background");
      var tcolor2=$( '#t'+val ).css("background");
      var vcolor3=vcolor2.match(/rgb\(.*\)/gm);
      var tcolor3=tcolor2.match(/rgb\(.*\)/gm);
      if((tcolor3=="rgb(0,0,17)") && (vcolor3=="rgb(0,0,17)")){

        $( this ).css( "background", "green" );
      }
  });
});
</script>
<h2>FUNCTION:Thermocouples</h2>
<div id="check2">
  <input type="checkbox" id="pid"/>
  <p id="cid">All parts are entered in logs</p>
</div>
<div id="check2">
  <input type="checkbox" id="pid"/>
  <p id="cid">Thermocouple readings are acceptable</p>
</div>
<div id="check2">
  <input type="checkbox" id="pid"/>
  <p id="cid">verify parts are proper</p>
</div>
  <h2>Circle Thermocouples used</h2>
<div id="sel3">
<% for(var i=0;i<80;i++) { %>
    <%
    ls=false;
    for(var j=0;j< tc.length;j++)
    {
      if(tc[j]==i)
      {
        ls=true;
      }
    }
    if(ls){%>
      <div class="circle1" id="t<%= i %>" > <%= i %> </div>
    <%}else {%>
    <div class="circle" id="t<%= i %>"> <%= i %> </div>
    <%}%>
<% }%>
</div>
  <h2>Function:Vacuum Source</h2>
  <div id="check">
    <input type="checkbox" id="pid"/>
    <p id="cid">Connected switches in "on" position</p>
  </div>
  <div id="check2">
    <input type="checkbox" id="pid"/>
    <p id="cid">Verify part connections are proper</p>
  </div>
  <div id="check2">
    <input type="checkbox" id="pid"/>
    <p id="cid">Verify that electric power and vaccum are operational</p>
  </div>
  <h2>Circle Vacuum Source used</h2>
  <div id="sel3">
  <% for(var i=0;i<80;i++) { %>
      <%
      ls=false;
      for(var j=0;j< vcs.length;j++)
      {
        if(vcs[j]==i)
        {
          ls=true;
        }
      }
      if(ls){%>
        <div class="circle1" id="v<%= i %>" > <%= i %> </div>
      <%}else {%>
      <div class="circle" id="v<%= i %>"> <%= i %> </div>
      <%}%>
  <% }%>
  </div>
