<style>
#container {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
#top_div {
    top:0;
    height:32%;
}
#finisher
{

  height:5%;
  margin-left: 800px;
}
#date{
  margin-left:500px;
  margin-top:10px;
}
#bottom_div {
    top:50px;
    height:68%;
    border-style: solid;

}
#uni4{
  margin-top:20px;
}
#sel2{
  margin-top:20px;
  margin-left:20px;
}
#new{
  margin-top:1px;
  margin-left:10px;
}
#Selectm{
  margin-left:60px;
}
#tc{
    margin-top:20px;
}
#lab{
  margin-top:1px;
}
#lab2{
    margin-top:1px;
}
#job{
  margin-left:20px;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  background: #001;
  float: left;
  margin-left: 2px;
  cursor: pointer;
}
#sel3{
  margin-left:6px;
  float:top;
  height:90px;
  width:1000px;
  display:block;
  margin-top:5px;
}
#uni2{
  margin-left:0px;
}
#uni3{
  display:inline-block;
  float:left;
  width:25%;
}
#therms{
  display:inline-block;
  float:right;
  width:75%;
}
#tc{

  margin-left:6px;
}
#sel4{
  margin-top:10px;
  margin-left:160px;
  float:top;
  height:90px;
  width:1000px;
  display: block;
}
#sel5{
  margin-top:10px;
  margin-left:160px;
  float:top;
  height:90px;
  width:1000px;
  display: block;
}
#sc{
  margin-top:10px;
  margin-left:160px;
  display:none;
}
#sel6{
  margin-top:10px;
  margin-left:160px;
  float:top;
  height:90px;
  width:1000px;
  display: block;
}
#customer{

  margin-left:300px;
}
#cure{

  margin-left:250px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  var arr={}
  var tester="";
$( document).ready(function(){

  $('#load2').text("54646");
$( "#jobSelect" ).change(function() {
    var z=document.getElementById("jobSelect").value;
    //console.log(z);
    var codes="green";
    if(z==65343)
    {
        $( this ).css( "color", codes );
    }
    <% color.forEach(function(cl){%>
        var l='<%=cl.job%>';

        if(l==z){

           codes='<%=cl.job%>';
        }

    <%})%>


});
});
$(document).ready(function(){
  var timer="";
  function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
  }
  function startTime(){
  var today = new Date();
  var d=today.getDate();
  var mo=today.getMonth()+1;
  mo=checkTime(mo);
  var year=today.getFullYear();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('date').innerHTML =d+"/"+mo+"/"+year+"  "+
  h + ":" + m + ":" + s;
  timer=d+"/"+mo+"/"+year+"  "+
  h + ":" + m + ":" + s;
  var t = setTimeout(startTime, 500);
  }

  startTime();
  $('#myForm').submit(function(event){
        alert("hgjhghj"+myArray);
        console.log(timer);
        $('#obj2').val(timer);
        $('#obj').val(JSON.stringify(myArray));
        //event.preventDefault();
  });

  $('#mySelect2').change(function(){

        for(ls=1;ls<res;ls++)
        {
            var temp='eq'+ls;
            if(document.getElementById(temp).checked)
            {
                var temp2=$('#leq'+ls).text();
                $.ajax({
                      type: "POST",
                      url: "/checker",
                      timeout: 2000,
                      data: {text: temp2 },
                      success: function(data) {
                          //show content
                          //alert(data)
                          $('#location').text(data);

                      },
                      error: function(jqXHR, textStatus, err) {
                          //show error message
                          alert('text status '+textStatus+', err '+err);
                      }
                    });

                /*<% location.forEach(function(loc){%>
                    var te='<%= loc.part%>';
                    if(te==temp2)
                    {
                         $('#location').text('<%=loc.loc%>');
                    }

                <%})%>*/

            }
        }
  });
var myArray=[];
function myElement(job,sensors,id)
{
  this.job=job;
  this.sensors=sensors;
  this.id=id;
}
$( ".circle" ).click(function() {

  //var z=document.getElementById("jobSelect").value;
  //console.log(z);
  //alert(myArray+"hi");
  tester="ravi"
  var codes='"green"';
  var r="";
  var selected=[]
  $('#uni4 input:checked').each(function() {
      selected.push($(this).attr('id'));
  });
//console.log(selected[selected.length-1]);
var rs='l'+selected[selected.length-1];
//console.log(rs);
var z=document.getElementById(rs).innerHTML;
 //$("#" + rs).css("color", "green");
//console.log(z);
  <% color.forEach(function(cl){%>
      var l='<%=cl.job%>';
      console.log(l,z);
      if(l==z){
        //console.log("in");
         r='<%=cl.code%>';
         codes=r;
         console.log(r);
         var color=$(this).css("background");
         var val=$.trim($(this).text());
         var ids=$(this).attr('id');
         //alert(ids);
         myArray.push(new myElement(l,val,ids));
         var str=13
         var vcolor2=$( '#v'+val ).css("background");
         var tcolor2=$( '#t'+val ).css("background");
         var ecolor2=$( '#e'+val ).css("background");
         var scolor2=$( '#s'+val ).css("background");
         var vcolor3=vcolor2.match(/rgb\(.*\)/gm);
         var tcolor3=tcolor2.match(/rgb\(.*\)/gm);
         var ecolor3=tcolor2.match(/rgb\(.*\)/gm);
         var scolor3=tcolor2.match(/rgb\(.*\)/gm);
         if((tcolor3[0]=="rgb(0, 0, 17)") && (vcolor3[0]=="rgb(0, 0, 17)") && (ecolor3[0]=="rgb(0, 0, 17)") && (scolor3[0]=="rgb(0, 0, 17)") ){

            $( this ).css( "background", r );
         }
         //$( this ).css( "background", r );
         //console.log(codes);
         console.log(tcolor3[0]);
         console.log(vcolor3[0]);
      }

  <%})%>
    var mai=[]
    arr['job']=64322;
    var test=[];
    test.push(3);
    test.push(4);
    arr['val']=test;
    mai.push(arr);
  //  console.log("hiiiii",arr)

});
});
$(document).ready(function(){


  var epObject2=[];
  <% equip.forEach(function(ep){%>



          epObject2.push('<%=ep.part%>');


  <%})%>

     var name="test";
     var container = $('#mySelect2');
     var inputs = container.find('input');
     var id = 1;


  $('#mySelect2').empty();
  for(index in epObject2){
    $('<input />', { type: 'radio',class:'as', id: 'eq'+id,name:'equip', value: epObject2[index]}).appendTo(container);
    $('<label />', { 'for': 'eq'+id,id: 'leq'+id , text: epObject2[index] }).appendTo(container);
    id=id+1;

  }
  res=id;

});

$(document).ready(function(){

  var cpObject2=[];
  <% cparts.forEach(function(cp){%>
        cpObject2.push('<%=cp.item1%>');

  <%})%>
  var select2 = document.getElementById("mySelect");
  select2.options.length=0;
  for(index in cpObject2){
    select2.options[select2.options.length]=new Option(cpObject2[index],cpObject2[index]);
  }

  var opObject2=[];
  <% operators.forEach(function(op){%>
        opObject2.push('<%=op.operator%>');

  <%})%>
  var opselect = document.getElementById("opSelect");
  opselect.options.length=0;
  for(index in cpObject2){
    opselect.options[opselect.options.length]=new Option(opObject2[index],opObject2[index]);
  }

});

function jobload(){



}
function jobfunction(){


var y=document.getElementById("mySelect").value;
var cureObject2=[];
$.ajax({
      type: "POST",
      url: "/curegetter",
      timeout: 2000,
      data: {text: y },
      success: function(data) {
          //show content
          //alert(data)
          cureObject2=data;
          var cureSelect = document.getElementById("cureSelect");
          cureSelect.options.length=0;
          for(index in cureObject2){
            cureSelect.options[cureSelect.options.length]=new Option(cureObject2[index],cureObject2[index]);
          }
          data.forEach(function(dt){
              //alert(dt);

          });
      },
      error: function(jqXHR, textStatus, err) {
          //show error message
          alert('text status '+textStatus+', err '+err)
      }
  });
/*<% cure.forEach(function(cd){%>
  var ts='<%=cd.item1%>';
  if(ts==y){
      cureObject2.push('<%=cd.name%>');

  }
<%})%>*/
$.ajax({
      type: "POST",
      url: "/jobgetter",
      timeout: 2000,
      data: {text: y },
      success: function(data) {
          //show content
          //alert(data)
          jobObject2=data;
          var jobSelect = document.getElementById("jobSelect");
          jobSelect.options.length=0;
          for(index in jobObject2){
            jobSelect.options[jobSelect.options.length]=new Option(jobObject2[index],jobObject2[index]);
          }
          data.forEach(function(dt){
              //alert(dt);

          });
      },
      error: function(jqXHR, textStatus, err) {
          //show error message
          alert('text status '+textStatus+', err '+err)
      }
  });

}

function checker(){

  $.ajax({
        type: "POST",
        url: "/checker",
        timeout: 2000,
        data: {text: "apples" },
        success: function(data) {
            //show content
            //alert(data)
            data.forEach(function(dt){
                alert(dt.id);

            });
        },
        error: function(jqXHR, textStatus, err) {
            //show error message
            alert('text status '+textStatus+', err '+err)
        }
    });


}

function myFunction(){

  var myObject = {

    ValueA: 'Text A',
    valueB: 'Text B'
  };



 <% loads.forEach(function(ld){%>
   var ts='<%=ld.name%>';
   if(ts==x){
     var text=$('#cure');
     text.val('<%=ld.load%>');

   }
 <%})%>


  tester="ravi";
  console.log(opObject2);
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">

</script>
<script type="text/JavaScript">

var name="test";

var id = 1;
function equiLoader(){

  //$('#uni4').empty();

  var jobs=document.getElementById("jobSelect").value;
  var jobst=[];
  jobst.push(jobs);
  var container = $('#uni4');
  var inputs = container.find('input');
  for(index in jobst){
    $('<input />', { type: 'radio', id: 'cb'+id,name:'jobs', value: jobst[index] }).appendTo(container);
    $('<label />', { 'for': 'cb'+id,id: 'lcb'+id , text: jobst[index] }).appendTo(container);
    id=id+1;
    console.log(id);
    //select3.options[select3.options.length]=new Option(jobObject2[index],jobObject2[index]);
    <% color.forEach(function(cl){%>
          var lr='<%=cl.job%>';
          console.log(lr);
          console.log(jobst[index]);
          if(lr==jobst[index])
          {
            var cr='<%=cl.code%>';
            $("#" + "lcb"+(id-1)).css("color", "black");
            document.getElementById("lcb"+(id-1)).style.background=cr;
            document.getElementById("lcb"+(id-1)).style.border="solid";
            document.getElementById("lcb"+(id-1)).style.borderColor=cr;
          }
    <%})%>
  }


}


</script>
<form method="post" id="myForm" action="/node/add">
<div id="container">

<div id = "top_div">
  <div id="sel2">
    <label id="load">LOAD#:</label>
    <label id="load2"></label>
    <label name="date" id="date"></label>
  </div>

  <div id="sel2">
  <label id="customer">CUSTOMER PARTS:</label>
<select  id="mySelect" name="cparts" onchange="jobfunction()">
  <option selected="selected"></option>
</select>
</div>
<div id="sel2">
  <label>EQUIPMENT:</label>
  <p id="mySelect2" name="equip"></p>
</div>
<div id="sel2">
  <label>LOCATION:</label>
  <label id="location" name="locat"></label>
  <label id="cure">CURE CENTER:</label>
  <select  id="cureSelect" name="curespec">
    <option selected="selected"></option>
  </select>
</div>

<div id="sel2">
  <label>OPERATOR#:</label>
  <select id="opSelect" name="opers" onchange="">
    <option selected="selected"></option>
  </select>
</div>
</div>

<div id = "bottom_div">
<div id="new">
  <h2><label>DOOR</label></h2>

</div>
<div id="uni3">
<label id="jobs">JOBS:</label>
<div id="uni2">
  <select id="jobSelect" name="jobs" onchange="equiLoader()">
    <option selected="selected"></option>
  </select>
</div>
<div id="uni4">
</div>
</div>
<div id="therms">
<label id="tc">TC</label>
<div id="sel3">
<% for(var i=0;i<80;i++) { %>
      <div class="circle" id="t<%= i %>" > <%= i %> </div>
<% }%>
</div>
<label id="tc">VC</label>
<div id="sel3">
<% for(var i=0;i<80;i++) { %>

      <div class="circle" id="v<%= i %>" > <%= i %> </div>
<% }%>
</div>
<label id="tc">EC</label>
<div id="sel3">
<% for(var i=0;i<80;i++) { %>

      <div class="circle" id="e<%= i %>" > <%= i %> </div>
<% }%>
</div>
<label id="tc">S</label>
<div id="sel3">
<% for(var i=0;i<80;i++) { %>

      <div class="circle" id="s<%= i %>" > <%= i %> </div>
<% }%>
</div>
<input id="obj" type="hidden" name="myArray"/>
<input id="obj2" type="hidden" name="dater2"/>
</div>
</div>
<input type="submit" id="finisher"  value="submit"></input>
</form>
</div>
