<style>
#container {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
#top_div {
    top:0;
    height:35%;
}

#bottom_div {
    top:300px;
    height:65%;
}
#sel2{
  margin-top:20px;
  margin-left:20px;

}
#new{
  margin-top:0px;
  margin-left:10px;
}
#Selectm{
  margin-left:60px;
}
#tc{
    margin-top:20px;
}
#lab{
}
#lab2{
    margin-top:0px;
}
</style>
<script>
function myFunction(){

  var myObject = {

    ValueA: 'Text A',
    valueB: 'Text B'
  };
  var x=document.getElementById("mySelect").value;
  <% equip.forEach(function(equi){%>
      var l='<%=equi.name%>';

      if(l==x){
        var myObject2=[];
        <%equi.spec.forEach(function(eq){%>myObject2.push('<%=eq.part%>');<%})%>
      }
      //alert(<%=equi.name%>);
  <%})%>
  var select = document.getElementById("mySelect2");
  select.options.length=0;
  for(index in myObject2){
    select.options[select.options.length]=new Option(myObject2[index],index);
  }
  console.log(myObject2);
}
</script>
<form method="post" action="/node/add">
<div id="container">

<div id = "top_div">
  <div id="sel2">
  <label>CUSTOMER PARTS:</label>
<select  id="mySelect" name="cparts" onchange="myFunction()">
<% cparts.forEach(function(cpart){%>
      <option value=<%= cpart.item1 %>><%= cpart.item1 %></option>

<%})%>
</select>
</div>
<div id="sel2">
  <label>EQUIPMENT:</label>
  <select id="mySelect2" name="equipment">
  </select>
</div>
<div id="sel2">
  <label>LOCATION:</label>
  <input type="txt" name="location" id="location"></input>
</div>
<div id="sel2">
  <label>LOAD#:</label>
  <input type="txt" name="load" id="load"></input>
  <label>DATE</label>
  <input type="date" name="date" id="load"></input>
</div>
<div id="sel2">
  <label>OPERATOR#:</label>
  <input type="txt" name="operator" id="operator"></input>
  <label>TIME</label>
  <input type="datetime" name="time" id="load"></input>
</div>
</div>

<div id = "bottom_div">
<div id="new">
  <h2><label>DOOR</label></h2>

</div>
<div id="new">
    <div id="lab">
  <label>TC-</label></div>
  <div id="lab2">
  <select multiple id="Selectm" name="tc" onchange="myFunction()">
  <% var i=0;%>
  <% while(i<80){ %>
        <option value='<%= i %>'><%= i %></option>
        <%i++;%>
  <%}%>
</select></div>
</div>
<input type="submit" value="submit"/>
</div>

</form>
</div>
